<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TriangleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F6BF2125AF3F41001AC8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6BF3725AF3F44001AC8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6BF4225AF3F44001AC8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
